@* @using InstitePro.Models *@
@model Student

<!--Student-->
@Model.Id
<h2>@Model.Name</h2>
@Model.Age
@Model.ImageURL
@Model.DeptId
<img src="~/Images/@Model.ImageURL" style="width:200px"/>
<a href="all">Back Tolist</a>
<a href="/student/all">Back Tolist</a>
