<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:brown;font-size:30px;height:150px">Head

        <div style="background-color:rosybrown;height:50px">
            @RenderSection("HeaderSection")
        </div>
    </div>
    <div style="background-color:rosybrown;height:300px">
        @RenderBody()
    </div>
    <div style="background-color:brown;font-size:30px;height:50px">Footer
        <div style="background-color:rosybrown;height:30px">
            @RenderSection("FooterSection",false)
        </div>
    </div>
    @RenderSection("Scripts",false)
</body>
</html>
